.typing-indicator {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
  }
  
  .typing-indicator span {
    position: absolute;
    top: 0;
    width: 2.5px;
    height: 2.5px;
    margin: 0px;
    background: #999;
    border-radius: 100%;
    animation: typing-indicator 1.4s infinite;
    animation-delay: -0.7s;
  }
  
  .typing-indicator span:nth-child(2) {
    left: 3.5px;
    animation-delay: -0.35s;
  }
  
  .typing-indicator span:nth-child(3) {
    left: 7px;
    animation-delay: 0s;
  }
  
  @keyframes typing-indicator {
    0%, 80%, 100% { transform: scale(0); }
    30%, 50% { transform: scale(1); }
  }
  