.form-label{
    /* width: 500px; */
    width: 100%;
    height: 300px;
    position: relative;
    border: solid 1px;
    border-radius: 0px;
    display: inline-flex;
    
}
.poschange{
  position: relative;
}
.step-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .step-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .step-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .step-form button[type="submit"] {
    background-color: #28a745;
  }
  
  .step-form button[type="button"] {
    background-color: #6c757d;
    margin-right: 10px;
  }
  
  /* .prediction-result {
    margin-top: 20px;
    font-weight: bold;
    color:#007bff
  }
   */


   .prediction-result {
    margin-top: 20px;
    font-weight: bold;
    color:rgba(0, 40, 83, 1);
    border: 1px solid rgba(0, 40, 83, 1);
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    margin: 20px auto;
  }
  
  .prediction-result:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .step-form{
    /* position: block;
    margin-left: 500px;
    margin-top: 50px;
    margin-right: auto; */
    max-width: 960px;
    margin: 50px auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  /* .txtclr {
    
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);
    position: absolute;
    margin-left:-250px !important;
    margin-right: 200px;
    margin-top: 4rem;
    text-align: justify;
} */
.txtclr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text);
  margin-left: 0 !important; /* reset previous absolute positioning */
  margin-top: 5px; /* adjust as needed to align with image and input */
  text-align: justify;
  padding: 0 0; /* add padding if needed to align the text horizontally */
  height:70px;
}

@media screen and (max-width: 600px) {
  .step-form{
    margin: 20px auto;
  }
  
  .txtclr {
    font-size: 16px;
    line-height: 22px;
    margin-left: 0 !important;
    margin-right: 0;
    height: 100px;
  }
  
  .form-label{
    height: auto;
  }
  .prediction-result {
    margin-top: 20px;
    font-weight: bold;
    color:rgba(0, 40, 83, 1);
    border: 1px solid rgba(0, 40, 83, 1);
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    margin: 20px auto;
  }
}